<!doctype html>
<html>
    <head>
        <title>Freeclimb Click To Call Sample</title>
    </head>
    <body>
        <h1>FreeClimb Click To Call Sample</h1>
        
        {{{body}}}
    </body>
</html>